<div *ngIf="cardData" class="card-container">
  <div class="business-card" [style.backgroundColor]="cardData.color">
    <!-- Left Section (Logo) -->
    <div class="logo-section">
      <img *ngIf="cardData.logo" [src]="cardData.logo" alt="Logo" class="logo" />
    </div>

    <!-- Right Section (Details) -->
    <div class="details-section">
      <p class="name"><strong>Businees Name:</strong>{{ cardData.userName }}</p>
      <p class="info"><strong>Address:</strong> {{ cardData.userAddress }}</p>
      <p class="info"><strong>Phone:</strong> {{ cardData.userPhone }}</p>
      <p class="info"><strong>Email:</strong> {{ cardData.usermail }}</p>


    </div>
  </div>
</div>
